.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  color: #111111;
}
.mainNav .nav {
  width: 100%;
}
.mainNav .navHome {
  margin-left: 64px;
}
.mainNav .navList {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.mainNav .navList a {
  height: 80px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Druk Wide Cyr, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  margin: auto;
  color: #111111;
  border-bottom: 2px solid #F0F712;
}
.mainNav .navClient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 384px;
  width: 100%;
}
.mainNav .navClient div {
  display: flex;
  align-items: center;
}
.mainNav .navClient div select {
  border: none;
  font-family: Druk Wide Cyr, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0;
  text-align: left;
}
.mainNav .navClient a {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  width: 100%;
  height: 80px;
  color: #111111;
  background: #F0F712;
  margin-left: 42px;
}
.mainNav .navClient a span {
  font-family: Druk Wide Cyr, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  margin-left: 13px;
}

.sectionMain div:first-child {
  height: 100%;
}
.sectionMain .btnLeft,
.sectionMain .btnRight {
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.sectionMain .btnRight {
  margin-left: 35px;
}
.sectionMain .btnLeft {
  margin-right: 35px;
}
.sectionMain .sectionText {
  position: absolute;
  top: 42%;
  z-index: 2;
  left: 26%;
  width: 45%;
}
.sectionMain .sectionText h1 {
  font-family: Druk Wide Cyr, serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}
.sectionMain .subtract {
  bottom: 24px;
  left: 0;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 2;
}
.sectionMain .subtract img {
  width: 100%;
}
.sectionMain .btnNormal1 {
  background: #F0F712;
}
.sectionMain .btnNorm {
  border-radius: unset !important;
  width: 233px;
  height: 60px;
  font-family: Druk Wide Cyr, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
}

.gym {
  margin-top: 76px;
  display: flex;
  justify-content: space-around;
}
.gym .onlineGym {
  font-family: Druk Wide Cyr, serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0;
  color: #F7F7F7;
  position: absolute;
  right: 0;
  z-index: -1;
  top: -60px;
}
.gym .gymTitle {
  font-family: Druk Wide Cyr, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0;
  text-align: center;
}
.gym .gymSubTitle {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-align: center;
}
.gym .gymImages div p {
  max-width: 198px;
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 40px;
}

.program .program-header {
  font-family: Druk Wide Cyr, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

.subscribe h6 {
  margin: 70px auto 8px auto;
}
.subscribe h1 {
  margin: 0 auto 30px auto;
  text-align: center;
}
.subscribe .subscribe-item {
  background-image: linear-gradient(rgba(20, 18, 25, 0.5) 0%, rgba(20, 18, 25, 0.5) 100%), url(/images/subscribe.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  max-width: 480px;
  max-height: 494px;
  height: 494px;
}
.subscribe .subscribe-item h3 {
  font-family: Druk Wide Cyr, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
}
.subscribe .subscribe-item button {
  width: 175px !important;
}
.subscribe .subscribe-item p {
  font-family: Montserrat, serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
}
.subscribe .subscribe-item span {
  font-family: Montserrat, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
  position: absolute;
}

.about .aboutFirst {
  margin-top: 70px;
}
.about .aboutFirst p {
  font-family: Montserrat, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
}
.about .aboutFirst h1, .about .aboutSecond h1 {
  font-family: Druk Wide Cyr, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
}
.about .aboutSecond {
  margin-top: 100px;
  margin-bottom: 150px;
}
.about .aboutSecond p {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 55px;
}
.about .aboutThird {
  margin-bottom: 85px;
}
.about .imgAbsolute {
  position: absolute;
  right: 0;
  top: 70px;
}
.about .imgAbsolute .img1 {
  position: absolute;
  top: 0;
  right: 0;
}
.about .imgAbsolute .img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 354px;
  right: 69px;
}
.about .playButton {
  position: absolute;
}
.about .aboutComment1 img {
  width: 79px;
  height: 79px;
  margin: 6px;
}
.about .aboutComment2 p {
  font-family: Montserrat, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
}
.about .aboutComment2 h1 {
  font-family: Druk Wide Cyr, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
  color: #111111;
}
.about .aboutComment2 button {
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
}
.about .aboutComment2 button:focus {
  outline: none;
}

.expert {
  background: #111111;
}
.expert h2 {
  font-family: Druk Wide Cyr, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
  margin-top: 73px;
}
.expert h4 {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #FFFFFF;
  margin-top: 8px;
  margin-bottom: 30px;
}
.expert .absoluteTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.expert .absoluteBottom {
  position: absolute;
  bottom: 0 !important;
  left: 0;
  width: 100%;
}
.expert .expertBtn button {
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
}
.expert .expertBtn button:focus {
  outline: none;
}
.expert .expertRate {
  position: relative;
  margin-bottom: 86px;
}
.expert .trainer {
  min-height: 370px;
  background-image: linear-gradient(360deg, #111111 0%, rgba(0, 0, 0, 0) 39.46%), url(/images/expertpicture.png);
  width: 242px;
  height: 370px;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.expert .trainer h3 {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}
.expert .trainer h1 {
  font-family: Montserrat, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}

.news {
  margin-top: 70px;
}
.news h2 {
  font-family: Druk Wide Cyr, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0;
  text-align: center;
}
.news h4 {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-align: center;
}
.news .news-item h3 {
  font-family: Druk Wide Cyr, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0;
  text-align: left;
  color: #111111;
}
.news .news-item p {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  margin: auto auto 10px auto;
  color: #777777;
}
.news .news-item a {
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: #111111;
}
.news .newsAbsolute {
  position: absolute;
  top: 8px;
  right: 27px;
  color: white;
  background: black;
  width: 74px;
  height: 58px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.news .newsAbsolute h5 {
  font-family: Montserrat, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 0;
  text-align: center;
}
.news .newsAbsolute h3 {
  font-family: Montserrat, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
}

.seo {
  margin: 70px auto auto auto;
  padding: 40px 0 0 50px;
}
.seo .seo-img {
  position: absolute;
  top: 0;
  left: 0;
}
.seo h1 {
  font-family: Druk Wide Cyr, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0;
  text-align: left;
}
.seo a {
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  border-bottom: 1px solid;
  color: #111111;
}
.seo h3 {
  font-family: Druk Wide Cyr, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}
.seo p {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #111111;
}
.seo p:first-of-type {
  color: #999999;
}

footer {
  background: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 74px;
}
footer .footerNav {
  height: 60px;
}
footer .footerNav .footer-main-link {
  height: 80px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  margin: auto 50px;
  color: #FFFFFF;
}
footer .footerNav ul a {
  height: 80px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  margin: auto 50px;
  color: #FFFFFF;
}
footer .footerClient {
  background: #F0F712;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}
footer .footerClient a {
  width: 263px;
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  color: #111111;
}
footer .footerClient a:hover {
  outline: none;
}
footer .footerPromo {
  margin-bottom: 25px;
}
footer .footerPromo p {
  margin: auto 12px auto 0;
}
footer .footerPromo h6 {
  margin: auto 12px auto 0;
}
footer .absoluteTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.line {
  border-bottom: 1px solid #444444;
  margin-bottom: 23px;
}

.mainNavUser {
  background: #F7F7F7;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  color: #111111;
}
.mainNavUser .navHomeBorder {
  padding-right: 63px;
  border-right: 1px solid #E6E6E6;
  height: 100%;
  display: flex;
  margin-left: 64px;
}
.mainNavUser .navHomeBorder img {
  margin: auto;
}
.mainNavUser .navSearch {
  max-width: 401px;
  width: inherit;
  height: 46px;
  position: relative;
  border-radius: 26px;
  border: 1px solid;
  overflow: hidden;
  padding: 0 26px;
  margin-left: 60px;
  background: #FFFFFF;
}
.mainNavUser .navSearch input {
  width: 100%;
  height: 100%;
  border: none;
}
.mainNavUser .navSearch input::-moz-placeholder {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
}
.mainNavUser .navSearch input:-ms-input-placeholder {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
}
.mainNavUser .navSearch input::placeholder {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
}
.mainNavUser .navSearch input:focus-visible {
  outline: none;
}
.mainNavUser .navSearch label {
  position: absolute;
  top: 14px;
  right: 14px;
}
.mainNavUser .navSearch label img {
  vertical-align: unset !important;
}
.mainNavUser .navClient {
  display: flex;
  align-items: center;
}
.mainNavUser .navClient div select {
  background: #F7F7F7;
  border: none;
  font-family: Druk Wide Cyr, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0;
  text-align: left;
}
.mainNavUser .navClient button {
  height: 42px;
  width: 184px;
  margin-right: 50px !important;
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
}
.mainNavUser .clientCabinet {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainNavUser .clientCabinet div:first-of-type {
  display: flex;
  flex-direction: column;
  margin: auto 12px auto 50px;
}
.mainNavUser .clientCabinet div:last-of-type {
  border: 2px solid #E21A3D;
  padding: 2px;
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin: auto 60px auto 0;
}
.mainNavUser .clientCabinet div h1 {
  font-family: Druk Wide Cyr, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: right;
  margin: 0;
}
.mainNavUser .clientCabinet div p {
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: right;
  margin: 0;
}
.mainNavUser .clientCabinet div img {
  width: 100%;
  height: 100%;
}

.sideNav {
  width: 273px;
  position: fixed;
  padding: 80px 0;
  top: 0;
  left: 0;
  overflow: auto;
  height: 100%;
  border-right: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sideNav .sideNavTop {
  display: flex;
  flex-direction: column;
}
.sideNav .sideNavTop a {
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: #111111;
  padding: 19px 0 19px 28px;
}
.sideNav .sideNavTop .active {
  background: #111111;
  color: #FFFFFF;
}
.sideNav .sideNavBottom {
  padding: 0 77px 51px 28px;
}
.sideNav .sideNavBottom h1 {
  font-family: Druk Wide Cyr, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  margin: 50px 0 12px 0;
}
.sideNav .sideNavBottom p {
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  margin: 0 0 6px 0;
}
.sideNav .sideNavBottom p span {
  font-weight: 700;
}
.sideNav .sideNavBottom div {
  background: linear-gradient(90deg, #E0006C 0%, #FBE900 52.08%, #5DD420 100%);
  border-radius: 5px;
  transform: rotate(-180deg);
  width: 100%;
  height: 5px;
  margin: 0 0 20px 0;
}
.sideNav .sideNavBottom button {
  width: 147px;
  height: 42px;
  margin: 0 !important;
}

.userFooter {
  height: 80px;
  background: #FFFFFF;
  z-index: 2;
  position: relative;
  left: 273px;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: calc(100% - 273px);
}

.content {
  position: relative;
  left: 273px;
  padding-top: 145px;
  width: calc(100% - 273px);
  min-height: calc(100vh - 80px);
}

.program-content .program-content-item {
  margin-bottom: 70px;
}
.program-content h2 {
  padding-bottom: 30px;
  font-family: Druk Wide Cyr, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0;
  text-align: left;
}
.program-content .cardForFitness {
  margin: auto -15px !important;
}

.burn-content .funtional-training, .functional-content .funtional-training {
  padding: 10px 20px;
  background: url(/images/lastpage.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
.burn-content .funtional-training h2, .functional-content .funtional-training h2 {
  font-family: Druk Wide Cyr;
  color: #FFFFFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.burn-content .content-user, .functional-content .content-user {
  background: #F7F7F7;
  width: 100%;
}
.burn-content .content-user div:last-of-type p, .functional-content .content-user div:last-of-type p {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
  margin: 0 0 2px 0;
}
.burn-content .content-user div:last-of-type h1, .functional-content .content-user div:last-of-type h1 {
  font-family: Druk Wide Cyr, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
}
.burn-content .content-user-hide > button, .functional-content .content-user-hide > button {
  width: 244px;
  height: 42px;
  margin: 20px -15px 20px auto;
  background: #ffffff;
  border: 1px solid;
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
}
.burn-content .content-user-preview, .functional-content .content-user-preview {
  border-bottom: 1px solid #CACACA;
  margin-bottom: 30px;
  padding: 0 0 30px 0;
}
.burn-content .content-user-image, .functional-content .content-user-image {
  border: 2px solid #E21A3D;
  padding: 2px;
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin: 15px 12px 15px 25px;
}
.burn-content .content-user-image img, .functional-content .content-user-image img {
  width: 100%;
  height: 100%;
}
.burn-content .content-user-image-small, .functional-content .content-user-image-small {
  border-radius: 50%;
  overflow: hidden;
  width: 42px;
  height: 42px;
  background: #FFFFFF;
  margin: 0 12px 0 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.burn-content .content-user-video div:last-child .content-user-video-item, .functional-content .content-user-video div:last-child .content-user-video-item {
  margin-bottom: 20px;
}
.burn-content .content-user-video div:last-child .content-user-video-item div:last-child h2, .functional-content .content-user-video div:last-child .content-user-video-item div:last-child h2 {
  font-family: Druk Wide Cyr, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}
.burn-content .youtube-image-ccal, .functional-content .youtube-image-ccal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.burn-content .youtube-image-ccal p, .functional-content .youtube-image-ccal p {
  margin: 0;
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
}
.burn-content .youtube-image-ccal div, .functional-content .youtube-image-ccal div {
  background: #F0F712;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto 8px auto 20px;
}
.burn-content .youtube-save, .functional-content .youtube-save {
  margin-top: 30px;
  background: #111111;
  padding: 24px 40px;
}
.burn-content .youtube-save div h2, .functional-content .youtube-save div h2 {
  font-family: Druk Wide Cyr, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}
.burn-content .youtube-save div button, .functional-content .youtube-save div button {
  background: #F0F712;
  padding: 16px 56px;
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
}
.burn-content .youtube-comment-write h2, .functional-content .youtube-comment-write h2 {
  font-family: Druk Wide Cyr, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  margin: 40px 0 20px 0;
}
.burn-content .youtube-comment-write textarea::-moz-placeholder, .functional-content .youtube-comment-write textarea::-moz-placeholder {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
  margin: 40px 0 20px 0;
}
.burn-content .youtube-comment-write textarea:-ms-input-placeholder, .functional-content .youtube-comment-write textarea:-ms-input-placeholder {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
  margin: 40px 0 20px 0;
}
.burn-content .youtube-comment-write textarea::placeholder, .functional-content .youtube-comment-write textarea::placeholder {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
  margin: 40px 0 20px 0;
}
.burn-content .youtube-comment-write textarea, .functional-content .youtube-comment-write textarea {
  width: inherit;
  height: 140px;
  padding: 16px 40px 5px 40px;
  resize: inherit;
  border-color: #CBCBCB;
}
.burn-content .youtube-comment-write button, .functional-content .youtube-comment-write button {
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  margin: 20px 0 40px 0;
  padding: 12px 28px;
  background: #111111;
  color: #FFFFFF;
}
.burn-content .youtube-comment h1, .functional-content .youtube-comment h1 {
  font-family: Druk Wide Cyr, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 20px;
}
.burn-content .youtube-comment h1 span, .functional-content .youtube-comment h1 span {
  font-family: Druk Wide Cyr, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  color: #e21a3d;
}
.burn-content .youtube-comment div, .functional-content .youtube-comment div {
  margin-bottom: 40px;
}
.burn-content .youtube-comment div p, .functional-content .youtube-comment div p {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}
.burn-content .youtube-comment div a, .functional-content .youtube-comment div a {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #111111;
  text-decoration: underline;
  margin-bottom: 40px;
}
.burn-content .youtube-comment div div, .functional-content .youtube-comment div div {
  margin-bottom: 12px;
}
.burn-content .youtube-comment div div h3, .functional-content .youtube-comment div div h3 {
  font-family: Montserrat, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  margin: 0 0 0 12px;
}
.burn-content .youtube-comment div div div, .functional-content .youtube-comment div div div {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid;
  padding: 2px;
  overflow: hidden;
}
.burn-content .youtube-comment div div div img, .functional-content .youtube-comment div div div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.burn-content .youtube-comment button, .functional-content .youtube-comment button {
  text-align: center;
  padding: 21px 0;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid;
  margin-bottom: 70px;
}
.burn-content .answer, .functional-content .answer {
  padding-left: 50px !important;
}
.burn-content .youtube-program button, .functional-content .youtube-program button {
  background: #F0F712;
  padding: 12px 0;
  width: 100%;
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  border: none;
}

.food-content .food-header h2 {
  font-family: Druk Wide Cyr, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 30px;
}
.food-content .food-select div {
  width: 100%;
  margin-right: 40px;
}
.food-content .food-select div label {
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  text-align: left;
  color: #777777;
}
.food-content .food-filter {
  padding: 18px 40px;
  background: #F7F7F7;
  margin-bottom: 30px;
}
.food-content .food-select-item {
  height: 46px;
  max-width: 260px;
  width: inherit;
  border: 1px solid #E6E6E6;
  border-left: 5px solid #F0F712;
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left;
}
.food-content .food-select-button {
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  padding: 12px 28px;
  max-width: 228px;
  width: inherit;
  background: #F0F712;
  border: none;
}
.food-content .food-category-content {
  margin-bottom: 70px;
}
.food-content .food-category-content:last-of-type {
  margin-bottom: 40px;
}
.food-content .food-category-content-header h2 {
  font-family: Druk Wide Cyr, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 8px;
}
.food-content .food-category-content-alert {
  margin-bottom: 30px;
}
.food-content .food-category-content-alert p {
  font-family: Montserrat, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  color: #E21A3D;
  margin: 0;
}
.food-content .food-category-content-alert div a {
  font-family: Montserrat, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  color: #111111;
  text-decoration: underline;
  margin-left: 12px;
}
.food-content .food-category-content-item {
  padding: 26px;
  border: 1px solid #E6E6E6;
  max-width: 410px;
}
.food-content .food-category-content-item-img {
  margin-bottom: 12px;
}
.food-content .food-category-content-item-heads h3 {
  font-family: Druk Wide Cyr, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}
.food-content .food-category-content-item-heads h4 {
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 25px;
}
.food-content .food-category-content-item-content ul {
  padding: 16px 26px;
  display: flex;
  flex-direction: column;
  background: #F7F7F7;
  border-radius: 10px;
}
.food-content .food-category-content-item-content ul li {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.food-content .food-category-content-item-content ul li:last-child {
  margin-bottom: 0;
}
.food-content .food-category-content-item-content ul li span {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0;
  text-align: right;
}
.food-content .food-category-content-item-button {
  background: none;
  display: flex;
  border: none;
  align-items: center;
  padding: 0;
  margin-top: 16px;
}
.food-content .food-category-content-item-button div {
  width: 50px;
  height: 50px;
  background: #111111;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 17px;
  justify-content: center;
}
.food-content .food-category-content-item-button .selected {
  background: #F0F712 !important;
}
.food-content .food-ready {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 70px;
}
.food-content .food-ready p {
  font-family: Montserrat, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}
.food-content .food-ready button {
  background: #F0F712;
  max-width: 180px;
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  border: none;
  padding: 16px 56px;
  margin-left: 30px;
}

.subscribe-header h2 {
  font-family: Druk Wide Cyr, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 30px;
}

.subscribe-content .subscribe-transform {
  padding: 29px 40px;
  background: #F7F7F7;
  margin-bottom: 70px;
}
.subscribe-content .subscribe-transform button {
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  max-width: 240px;
  width: inherit;
  border: none;
  background: #F0F712;
  padding: 12px 28px;
}
.subscribe-content .subscribe-transform h3 {
  font-family: Druk Wide Cyr, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}
.subscribe-content .subscribe-transform-days {
  max-width: 280px;
  width: inherit;
}
.subscribe-content .subscribe-transform-days div {
  background: linear-gradient(90deg, #E0006C 0%, #FBE900 52.08%, #5DD420 100%);
  border-radius: 5px;
  transform: rotate(-180deg);
  height: 5px;
  margin: 0 0 20px 0;
  max-width: 280px;
  width: inherit;
}
.subscribe-content .subscribe-transform-days p {
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  margin: 0 0 6px 0;
}
.subscribe-content .subscribe-transform-days p span {
  font-weight: 700;
}
.subscribe-content .subscribe-new-plan-header h2 {
  font-family: Druk Wide Cyr, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 30px;
}
.subscribe-content .subscribe-new-plan-price {
  margin-bottom: 70px;
}
.subscribe-content .subscribe-new-plan-price div {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 75.78%), url("/images/subscribeplan.png");
  max-width: 638px;
  width: inherit;
  height: 280px;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  color: #FFFFFF;
}
.subscribe-content .subscribe-new-plan-price div h4 {
  font-family: Druk Wide Cyr, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}
.subscribe-content .subscribe-new-plan-price div p {
  font-family: Montserrat, serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0;
  text-align: center;
}
.subscribe-content .subscribe-new-plan-price div p span {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  position: absolute;
}
.subscribe-content .subscribe-new-plan-price div button {
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  padding: 16px 56px;
  background: #F0F712;
  border: none;
}

.information-content .personal-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.information-content .personal-head-img {
  margin-right: 54px;
  width: 116px;
  height: 116px;
  position: relative;
}
.information-content .personal-head-img img {
  width: initial;
}
.information-content .personal-head-img button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F0F712;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.information-content .personal-head-name,
.information-content .personal-head-gender {
  width: inherit;
  margin-right: 40px;
  max-width: 280px;
}
.information-content .personal-head-name select, .information-content .personal-head-name input,
.information-content .personal-head-gender select,
.information-content .personal-head-gender input {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left;
  padding: 16px 0 16px 17px;
  border: 1px solid #E6E6E6;
  border-left: 5px solid #F0F712;
  width: inherit;
}
.information-content .personal-params-header h3 {
  font-family: Druk Wide Cyr, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 20px;
}
.information-content .personal-params-item {
  padding: 30px 41px 24px 41px;
  box-shadow: 0 4px 40px rgba(34, 34, 34, 0.1);
  border-radius: 10px;
  margin: 0 24px 20px 0;
}
.information-content .personal-params-item p {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}
.information-content .personal-params-item h6 {
  font-family: Montserrat, serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0;
  text-align: center;
}
.information-content .personal-params-item div {
  display: flex;
  justify-content: space-between;
}
.information-content .personal-params-item div button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #F0F712;
  border-radius: 50%;
  background: none;
}
.information-content .personal-params-item div button:last-of-type {
  margin-left: 14px;
}
.information-content .personal-params-item-update {
  background: #111111;
  padding: 30px 20px 20px 20px;
  box-shadow: 0 4px 40px rgba(34, 34, 34, 0.1);
  border-radius: 10px;
  margin: 0 24px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #FFFFFF;
}
.information-content .personal-params-item-update div {
  width: 100%;
}
.information-content .personal-params-item-update h2 {
  font-family: Montserrat, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
}
.information-content .personal-params-item-update p {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}
.information-content .personal-params-item-update button {
  background: #F0F712;
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  border-radius: 22px;
  width: 100%;
  padding: 12px 24px;
}
.information-content .personal-numbers {
  margin-top: 90px;
  margin-bottom: 8px;
  color: #111111;
}
.information-content .personal-numbers .item h1 {
  font-family: Druk Wide Cyr, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 12px;
}
.information-content .personal-numbers .item h5 {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-align: center;
}
.information-content .personal-numbers .item p {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 70px;
}
.information-content .personal-video {
  margin-bottom: 70px;
}
.information-content .personal-video .item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information-content .personal-video .item h2 {
  font-family: Druk Wide Cyr, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 30px;
}
.information-content .line {
  justify-content: center !important;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 19px !important;
}

.achievements-content .items {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
}
.achievements-content .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1px 40px 1px;
}
.achievements-content .items .item h1 {
  font-family: Druk Wide Cyr, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #111111;
  margin: 6px 0 12px 0;
}
.achievements-content .items .item p {
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  color: #777777;
  margin-bottom: 0;
}

.ellipse {
  border: 1px solid;
  position: absolute;
  width: 48px;
  height: 48px;
  background: #ffffff30;
  overflow: hidden;
  top: 16px;
  left: 16px;
  border-radius: 50%;
}

.ellipseM {
  position: absolute;
  width: 42px;
  height: 42px;
  border: 0.5px solid;
  top: 2px;
  left: 2px;
  border-radius: 50%;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 13px;
  position: relative;
}

.ellipseText {
  top: 15px;
  position: relative;
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0;
  text-align: center;
  margin: auto;
}

.cardForFitness {
  display: flex;
  flex-direction: column;
  max-height: 530px;
  height: 100%;
  align-items: center;
  max-width: 308px;
  margin: auto;
}

.imgFitness {
  max-width: 308px;
  max-height: 320px;
  width: 100%;
  height: 100%;
}

.cardHeader {
  font-family: Druk Wide Cyr, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  margin: 3px auto;
  color: #111111;
}

ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.cardListLeft {
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  margin: 8px 0;
  text-align: left;
  flex: 0 0 54%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cardListRight {
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0;
  margin: 8px 0;
  text-align: right;
  flex: 0 0 46%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cardListRight svg {
  margin-left: 11px;
}

.cardFooterImg {
  height: 32px;
  width: 32px;
  overflow: hidden;
  border-radius: 50%;
}

.cardFooterText {
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0;
  text-align: left;
  margin: auto 8px;
}

.cardWrapper {
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
}

.cardFooter {
  margin: -0.5rem;
  padding: 0.5rem;
  border-top: 1px solid #E6E6E6;
}
.cardFooter svg {
  margin: auto 0;
}

body {
  margin: 0;
  padding: 0;
}

.frame {
  display: flex;
  flex-wrap: wrap;
  max-width: 508px;
  max-height: 136px;
}

.framePlaceholder {
  width: 243px;
  height: 136px;
  position: relative;
}

.lock {
  position: absolute;
  width: 243px;
  height: 136px;
  z-index: 1;
  background: #00000050 url(/images/lock.png) no-repeat center;
}

.frameText {
  font-family: Druk Wide Cyr, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

.frameContent {
  max-width: 245px;
  margin-left: 20px;
}

.btnDisable1 {
  background: #C8C8C8;
  color: #FFFFFF !important;
}

.btnDisable2, .btnDisable3 {
  border: 1px solid #999999 !important;
  color: #999999 !important;
  background: none;
}

.btnTap1 {
  background: #F0FB00;
}

.btnTap2 {
  background: #FEFFD0;
  border: 1px solid #F0F712 !important;
}

.btnTap3 {
  background: #C4C4C4;
  border: 1px solid #111111 !important;
}

.btnNormal1 {
  background: #F0F712;
}

.btnNormal2 {
  background: #FFFFFF;
  border: 1px solid #F0F712 !important;
}

.btnNormal3 {
  background: #FFFFFF;
  border: 1px solid !important;
}

.btnNot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 56px;
  width: 232px;
  height: 50px;
  font-family: Druk Wide Cyr, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  border-radius: unset !important;
}

.btnNorm {
  border-radius: unset !important;
  width: 233px;
  height: 60px;
  font-family: Druk Wide Cyr, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
}

.btn {
  margin: 15px;
}

.login-aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 101px;
  padding-right: 60px;
  box-shadow: inset -10px 0px 20px #F3F3F3;
  height: calc(100vh - 250px);
}
.login-aside li {
  position: relative;
  display: flex;
  margin-bottom: 16px;
}
.login-aside li .item {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  padding-right: 10px;
  display: flex;
  align-items: center;
}
.login-aside li .item.active {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.login-aside li .completed {
  background-color: #F0F712;
}
.login-aside li .completed span:after {
  top: 50%;
  right: 13px;
  opacity: 1;
  height: 10px;
  width: 5px;
  transform: translateY(calc(-50% - 2px)) rotate(45deg);
  border-right: 2px solid #020202;
  border-bottom: 2px solid #020202;
  content: "";
  position: absolute;
}
.login-aside li .custom-ellipse {
  border-radius: 50%;
  border: 2px solid #E6E6E6;
  width: 30px;
  height: 30px;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-aside li .custom-ellipse.active {
  border-radius: 50%;
  border: 2px solid #F0F712;
  width: 30px;
  height: 30px;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-aside li .underline {
  width: 19px;
  height: 0;
  border: 1px solid #E6E6E6;
  transform: rotate(90deg);
  position: absolute;
  right: 5px;
  bottom: -10px;
}

#app {
  position: relative;
}

.submit-group .next {
  font-family: Druk Wide Cyr, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  border: none;
  color: #111111;
  width: 230px;
  height: 50px;
  padding: 16px 56px;
  background: #F0F712;
}
.submit-group .prev {
  font-family: Druk Wide Cyr, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  margin-left: 40px;
  color: #999999;
}

.first-step {
  padding-top: 101px;
  padding-left: 60px;
}
.first-step h1 {
  font-family: Druk Wide Cyr, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #111111;
  margin-bottom: 40px;
}
.first-step form .custom-form-group-inline {
  margin-bottom: 30px;
  margin-right: 22px;
  position: relative;
}
.first-step form .custom-form-group-inline input {
  width: 308px;
  height: 50px;
  background: #FFFFFF;
  /* Grey Tones/Line:E6E6E6 */
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  padding-left: 20px;
}
.first-step form .custom-form-group-inline input::-moz-placeholder {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
}
.first-step form .custom-form-group-inline input:-ms-input-placeholder {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
}
.first-step form .custom-form-group-inline input::placeholder {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
}
.first-step form .custom-form-group-inline .left-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 50px;
  background: #F0F712;
}
.first-step form .social-form h1 {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 12px;
}
.first-step form .social-form .social-btn-grp {
  display: flex;
  margin-bottom: 30px;
}
.first-step form .social-form .social-btn-grp button {
  background: #FFFFFF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 22px;
  width: 198px;
  height: 46px;
  border: none;
}
.first-step form .social-form .social-btn-grp button:first-child {
  margin: 0;
}
.first-step form .social-form .social-btn-grp button svg {
  margin-right: 7px;
}
.first-step form .terms {
  position: relative;
  margin-bottom: 33px;
}
.first-step form .terms label {
  margin-left: 32px;
}
.first-step form .terms input {
  width: 24px;
  height: 24px;
  opacity: 0;
  position: absolute;
  z-index: 1;
}
.first-step form .terms input:checked + span {
  background: #F0F712;
  border: none;
}
.first-step form .terms input:checked + span:after {
  opacity: 1;
  height: 10px;
  width: 5px;
  top: 50%;
  right: 8px;
  transform: translateY(calc(-50% - 2px)) rotate(45deg);
  border-right: 2px solid #020202;
  border-bottom: 2px solid #020202;
  content: "";
  position: absolute;
}
.first-step form .terms span {
  z-index: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  border: 1px solid;
  left: 0;
}
.first-step form .terms p {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  /* identical to box height, or 17px */
}

.second-step {
  padding-top: 101px;
  padding-left: 60px;
}
.second-step h1 {
  font-family: Druk Wide Cyr, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #111111;
  margin-bottom: 30px;
}
.second-step form h1 {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
  /* identical to box height, or 20px */
  /* Grey Tones/Mostly Black:111111 */
  color: #111111;
}
.second-step form .gender-select {
  margin-bottom: 30px;
  width: 250px;
  height: 68px;
  background: #F7F7F7;
  border-radius: 10px;
  display: flex;
  padding: 4px 8px;
}
.second-step form .gender-select .gender-item {
  position: relative;
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-step form .gender-select .gender-item span {
  position: absolute;
  bottom: -25px;
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
}
.second-step form .gender-select .gender-item:last-child {
  margin-left: auto;
}
.second-step form .gender-select .gender-item input {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.second-step form .gender-select .gender-item label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: all 0.3s ease;
}
.second-step form .gender-select .gender-item label svg {
  transition: all 0.3s ease;
}
.second-step form .gender-select .gender-item label svg path {
  transition: all 0.3s ease;
}
.second-step form .gender-select .gender-item label svg:focus {
  outline: unset;
}
.second-step form .gender-select .gender-item label:focus-visible {
  outline: unset;
}
.second-step form .gender-select .gender-item input:checked + label {
  transform: scale(1.1);
  background: #FFFFFF;
  /* Signal Colours/Style */
  border: 2px solid #F0F712;
  box-sizing: border-box;
  border-radius: 10px;
}
.second-step form .gender-select .gender-item input:checked + label svg path {
  fill: black;
}
.second-step form .target {
  margin-bottom: 30px;
}
.second-step form .target h1 {
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
  margin-bottom: 12px;
}
.second-step form .target .target-group {
  display: flex;
}
.second-step form .target .target-group .item {
  width: 198px;
  height: 60px;
  position: relative;
  margin-right: 22px;
}
.second-step form .target .target-group .item input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.second-step form .target .target-group .item label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  justify-content: space-around;
  transition: all 0.3s ease;
}
.second-step form .target .target-group .item label .desc {
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  width: 106px;
}
.second-step form .target .target-group .item label .target-ellipse {
  border: 1px solid #CACACA;
  border-radius: 50%;
  background: #FFFFFF;
  height: 24px;
  width: 24px;
}
.second-step form .target .target-group .item input:checked + label {
  transform: scale(1.1);
  border: 2px solid #F0F712;
  box-sizing: border-box;
  border-radius: 10px;
}
.second-step form .target .target-group .item input:checked + label .target-ellipse {
  background: #F0F712;
}
.second-step form .target .target-group .item input:checked + label .target-ellipse:after {
  top: 50%;
  right: 17px;
  opacity: 1;
  height: 10px;
  width: 5px;
  transform: translateY(calc(-50% - 2px)) rotate(45deg);
  border-right: 2px solid #020202;
  border-bottom: 2px solid #020202;
  content: "";
  position: absolute;
}

.third-step {
  padding-top: 101px;
  padding-left: 60px;
}
.third-step h1 {
  width: 220px;
  height: 28px;
  font-family: Druk Wide Cyr, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 40px;
  /* identical to box height, or 28px */
  /* Grey Tones/Mostly Black:111111 */
  color: #111111;
}
.third-step .personal-data {
  display: flex;
  margin-bottom: 30px;
}
.third-step .personal-data .item {
  width: 180px;
  height: 209px;
  background: #FFFFFF;
  /* Shadows/Modal Shadow:40 */
  box-shadow: 0px 4px 40px rgba(34, 34, 34, 0.1);
  border-radius: 10px;
  margin-right: 30px;
}
.third-step .personal-data .item .header {
  padding-top: 30px;
}
.third-step .personal-data .item .header h3 {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  color: #111111;
  text-align: center;
}
.third-step .personal-data .item .value {
  padding-top: 10px;
  padding-bottom: 2px;
}
.third-step .personal-data .item .value h3 {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 140%;
  /* identical to box height, or 62px */
  margin: 0;
  /* Grey Tones/Mostly Black:111111 */
  text-align: center;
  color: #111111;
}
.third-step .personal-data .item .value .underline {
  width: 98px;
  height: 0;
  border: 1px solid #E6E6E6;
  margin: 0 auto 19px;
}
.third-step .personal-data .item .plus-minus-group {
  display: flex;
  justify-content: center;
}
.third-step .personal-data .item .plus-minus-group span {
  width: 42px;
  height: 42px;
  border: 2px solid #F0F712;
  margin-right: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.four-step {
  padding-top: 101px;
  padding-left: 60px;
  padding-bottom: 70px;
}
.four-step h1 {
  width: 138px;
  height: 28px;
  font-family: Druk Wide Cyr, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */
  /* Grey Tones/Mostly Black:111111 */
  color: #111111;
  margin-bottom: 30px;
}
.four-step .subscriptions h1 {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  text-align: center;
  /* Grey Tones/Mostly Black:111111 */
  color: #111111;
  margin-bottom: 12px;
}
.four-step .subscriptions .item {
  background: #F7F7F7;
  border-radius: 10px;
  width: 528px;
  height: 70px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.four-step .subscriptions .item .desc h3 {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* Grey Tones/Mostly Black:111111 */
  color: #111111;
}
.four-step .subscriptions .item .desc span {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  /* Grey Tones/Medium Grey:777777 */
  color: #777777;
}
.four-step .subscriptions .item .price h3 {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  text-align: right;
  color: #111111;
}
.four-step .subscriptions .item .checkbox {
  position: relative;
  width: 24px;
  height: 24px;
}
.four-step .subscriptions .item .checkbox input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
.four-step .subscriptions .item .checkbox label {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #CACACA;
  background: #FFFFFF;
}
.four-step .subscriptions .item .checkbox input:checked + label {
  background: #F0F712;
}
.four-step .subscriptions .item .checkbox input:checked + label:after {
  top: 50%;
  right: 10px;
  opacity: 1;
  height: 10px;
  width: 5px;
  transform: translateY(calc(-50% - 2px)) rotate(45deg);
  border-right: 2px solid #020202;
  border-bottom: 2px solid #020202;
  content: "";
  position: absolute;
}
.four-step .payment-subscription {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.four-step .payment-subscription h1 {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  /* Grey Tones/Mostly Black:111111 */
  color: #111111;
  margin-bottom: 12px;
  width: 100%;
}
.four-step .payment-subscription .payment-wrapper {
  display: flex;
}
.four-step .payment-subscription .payment-wrapper .item {
  width: 140px;
  height: 100px;
  position: relative;
  margin-right: 20px;
}
.four-step .payment-subscription .payment-wrapper .item input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.four-step .payment-subscription .payment-wrapper .item label {
  width: 100%;
  height: 100%;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.four-step .payment-subscription .payment-wrapper .item label span {
  width: 24px;
  height: 24px;
  border: 1px solid #CACACA;
  box-sizing: border-box;
  border-radius: 50%;
}
.four-step .payment-subscription .payment-wrapper .item input:checked + label {
  border: 2px solid #F0F712;
}
.four-step .payment-subscription .payment-wrapper .item input:checked + label span {
  background: #F0F712;
}
.four-step .payment-subscription .payment-wrapper .item input:checked + label span:after {
  top: 67%;
  right: 49%;
  opacity: 1;
  height: 10px;
  width: 5px;
  transform: translateY(calc(-50% - 2px)) rotate(45deg);
  border-right: 2px solid #020202;
  border-right: 2px solid #020202;
  border-bottom: 2px solid #020202;
  content: "";
  position: absolute;
}

.main-slider-item {
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
}

#owl-carousel .owl-nav button {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 50%;
  left: 10%;
}
#owl-carousel .owl-nav button span {
  display: block;
  position: relative;
  background-image: url(/images/btnLeft.png);
  width: 54px;
  height: 54px;
  background-size: cover;
  transition: all 0.7s ease;
}
#owl-carousel .owl-nav button span:hover {
  transform: scale(1.1);
}
#owl-carousel .owl-nav button:last-child {
  left: 90%;
}
#owl-carousel .owl-nav button:last-child span {
  background-image: url(/images/btnRight.png);
}
